<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-nav.min.css" />
    <link href="~/Content/Angular/ng-grid.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Content/bootstrap/styles.css" />

    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="@Url.Content("~/content/images/favicon.ico")" />
    <link href="~/Content/Board.css" rel="stylesheet" />
    <script src="~/Content/scripts/jquery-1.8.2.min.js"></script>

    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/bootstrap.min.js"></script>
    <script src="~/Content/Angular/angular.min.js"></script>
    <script src="~/Content/Angular/ng-grid-2.0.6.min.js"></script>
    <script src="~/Content/Angular/app.js">
    </script>
    <link href="~/Content/Angular/ng-grid.min.css" rel="stylesheet" />
    <script src="~/Content/Angular/HeartbeatService.js"></script>
    <script src="~/Content/Angular/UserController.js"></script>
    <script src="~/Content/Angular/HeartbeatController.js"></script>
    <script src="~/Content/Angular/AppointmentController.js"></script>
    <script src="~/Content/Angular/SchedulingController.js"></script>
    <script src="~/Content/Angular/CustomerController.js"></script>
    <script src="~/Content/Angular/CompanyController.js"></script>
    <script src="~/Content/Angular/ModuleController.js"></script>
    <script src="~/Content/Angular/WorkflowDetailController.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
    <script src="~/Content/scripts/modernizr-2.6.2.js"></script>
    <script src="~/Content/scripts/script.js"></script>

    <script src="~/Content/Angular/ProfessionalController.js"></script>
    <script src="~/Content/Angular/InsuranceController.js"></script>
    <script src="~/content/Angular/emailController.js"></script>

    <link rel="stylesheet" href="~/Content/KendoUI/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Content/KendoUI/styles/kendo.metro.min.css" />
    <link rel="stylesheet" href="~/Content/KendoUI/styles/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="~/Content/KendoUI/styles/kendo.dataviz.metro.min.css" />


    @*
        <script type="text/javascript" src="~/Content/KendoUI/js/jquery.min.js"></script>*@
    <script type="text/javascript" src="~/Content/KendoUI/js/kendo.all.min.js"></script>
    <!-- Bootstrap Core CSS -->
    <!-- MetisMenu CSS -->
    <link href="~/Content/bootstrap/metisMenu.min.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="~/Content/bootstrap/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    @*
        <link href="~/Content/bootstrap/sb-admin-2.css" rel="stylesheet">*@
    <link href="~/Content/bootstrap/AdminLTE.css" rel="stylesheet" type="text/css" />
    <!-- Morris Charts CSS -->
    <link href="~/Content/bootstrap/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/bootstrap/font-awesome.min.css" rel="stylesheet" type="text/css">



    <!-- Bootstrap Core JavaScript -->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Content/scripts/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/Content/scripts/raphael-min.js"></script>
    @*<script src="~/Content/scripts/morris.min.js"></script>
    <script src="~/Content/scripts/morris-data.js"></script>

        <script src="~/Content/scripts/sb-admin-2.js"></script>*@
    <script src="~/Content/scripts/app.js" type="text/javascript"></script>
    @*<script src="~/Content/scripts/icheck.min.js" type="text/javascript"></script>*@
    <script src="~/Content/Angular/checklist-model.js"></script>
    <script type="text/javascript" src="~/Content/KendoUI/Workflow.js"></script>
</head>
<body ng-app="HeartbeatApp" style="margin-top:0px;" class="skin-blue" ng-controller="HeartbeatController" data-ng-init="init()">

    <!-- Navigation -->
    <!-- header logo: style can be found in header.less -->
    <header class="header">
        <div id="logo" class="logo">
            <div class="text-warning visible-xs"><a href="http://heartbeat-biz.com"><h3>Heartbeat Mobile</h3></a></div>
            <div class="logoText hidden-xs">
                <a href="http://heartbeat-biz.com"><img src="~/Content/images/newLogo1.png" class="img-responsive" /></a>
            </div>
        </div>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    @{if (Session["user"] != null)
                    {

                        <li class="dropdown user user-menu">
                            <input type="hidden" id="role" value=@(((HBS.WebPortal.Models.User)Session["user"]).RoleId)>
                            <input type="hidden" id="user" value=@(((HBS.WebPortal.Models.User)Session["user"]).userid)>
                            <input type="hidden" id="company" value=@(((HBS.WebPortal.Models.User)Session["user"]).companyid.ToString())>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>@(((HBS.WebPortal.Models.User)Session["user"]).UserName) <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdownuser">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <span class="img-circle" />
                                    <p>
                                        @(((HBS.WebPortal.Models.User)Session["user"]).UserName) - (@(((HBS.WebPortal.Models.User)Session["user"]).RoleName))
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div>
                                        <a href="@(Url.Action("logout", "Home"))" class=" btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                            @*<label class="dropText">Welcome <span class='glyphicon glyphicon-user '></span> @(((HBS.WebPortal.Models.User)Session["user"]).UserName)</label>
                                <label class="dropText">(@(((HBS.WebPortal.Models.User)Session["user"]).RoleName))</label>*@
                        </li>
                    }
                    }
                    <!-- /.dropdown -->
                    <!-- /.dropdown -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar">
                <div class="user-panel">
                    <div id="companylst" class="btn-group companydrop" style="display:none">
                        <button class="btn button-label btn-info companybtn">Company</button><button class="btn btn-info dropdown-toggle companytoggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul id="dropdownmenu" class="dropdown-menu">
                            <li ng-repeat="item in company"><a href="@(Url.Action("Index", "Scheduling"))?companyId={{item.CompanyId}}" tabindex="-1">{{item.CompanyName}}</a></li>
                        </ul>
                    </div>
                    <div id="companyname" class="btn-group companydrop" style="display:none">
                        <label id="compname" class="btn button-label btn-info companybtn">Company</label>
                    </div>
                </div>

                    <div></div>
                    @{if (Session["app"] != null)
                    {
                        <input type="hidden" id="app" value=@Session["app"].ToString()>
                    }
                    else
                    {
                        <input type="hidden" id="app" value='Website'>
                    }
                    }
                    <ul class="sidebar-menu" id="side-menu"></ul>
            </section>
        </aside>
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                @RenderBody()
            </section>
        </aside>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</body>
@RenderSection("scripts", required: false)
</html>
